*{
    font-size: 15px;
    background: rgb(0, 0, 0, 0);
}

h1 {
    position: relative;
    text-align: left;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(127, 133, 255);
    font-size: 20px;
}

li {
    position: relative;
    top: 20px;
    list-style: none;
}

ul {
    top: 20px;
}

li select {
    position: relative;
    float: right;
    right: 50%;
    width: 30%;
    height: 30px;
    background-color: rgba(235, 235, 235, 0.75);
}

h2 {
    display: inline-block;
    position: relative;
    padding: 0px 20px;
    color: black;
}

#analyze-data {
    position: relative;
    top: 1em;
    appearance: button;
    background-color: #3350f3;
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    height: 35px;
    width: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: 0.3s;
    cursor: pointer;
}

#analyze-data:hover {
    background-color: #0026ff;
}

#analysis-h1 {
    position: relative;
    top: 2rem;
}

#map {
    height: 100%;
}